@import "../../colors.scss";

.search-container {
    position: relative;
    height: 44px;
    width: 480px;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 8px;
    overflow: hidden;

    & > input[type="text"] {
        /* Normalize */
        width: 100%;
        appearance: none;
        border: none;
        height: 100%;

        &:focus {
            outline: none;
        }

        font-size: 16px;
        height: 100%;
        color: $grey-7;
        padding: 10px 16px;

        &::placeholder {
            font-weight: 400;
            color: $grey-2;
        }
    }

    & > .search-icon,
    & > .clear-btn {
        position: absolute;
        right: 12px;
        opacity: 0.2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & > .clear-btn {
        cursor: pointer;
        &:hover {
            opacity: 0.4;
        }
    }

    &:hover {
        & > .search-icon,
        & > .clear-btn {
            opacity: 0.3;
        }
    }
}

.cdk-drag-placeholder {
    opacity: 0.3;
}
.cdk-drag-preview {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 1px 1px 14px 0px rgba(0, 0, 0, 0.12), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transform: translate3d(-1px, -1px, 0);
    background: white;
    overflow: hidden;
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr;

    // TODO: convert to mixin
    & td {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        height: 36px;
        background: white;
        font-size: 14px;
        font-weight: 500;
        color: $grey-7;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 8px;
    }

    & td:first-child {
        border-radius: 8px 0 0 8px;
        padding-left: 16px;
    }
    & td:last-child {
        margin-right: 0;
        border-radius: 0 8px 8px 0;
        padding-right: 16px;
    }
}

table.table {
    position: relative;
    border-collapse: separate;
    border-spacing: 0 4px;

    & tr {
        cursor: pointer;
        margin: 12px 0;
        transition: transform 200ms, box-shadow 200ms;
        transition-timing-function: ease-out;
        box-shadow: none;
        transform-origin: center;
        border-radius: 8px;

        &:hover {
            box-shadow: 1px 1px 14px 0px rgba(0, 0, 0, 0.12), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
            transform: translate3d(-1px, -1px, 0);
        }

        & td {
            height: 36px;
            background: white;
            font-size: 14px;
            font-weight: 500;
            color: $grey-7;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-right: 8px;
        }

        & td:first-child {
            border-radius: 8px 0 0 8px;
            padding-left: 16px;
        }
        & td:last-child {
            margin-right: 0;
            border-radius: 0 8px 8px 0;
            padding-right: 16px;
        }
    }
}
.table-container {
    h1.table-title {
        font-size: 40px;
        font-weight: 400;
        line-height: 48px;
        color: $grey-3;
    }

    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 640px;

    .search-container {
        margin-bottom: 48px;
    }
}
