<input [ngModel]="searchString" (ngModelChange)="search($event)" />
<span *ngFor="let column of columns">
    {{column.name}}
    <button (click)="sortColumn('ASC', column.accessor)">Sort up</button>
    <button (click)="sortColumn('DESC', column.accessor)">Sort down</button>
    <button (click)="clearSorting()">Clear</button>
</span>
<p *ngFor="let datum of data | sort:(sortConfig$ | async) | search:(searchEvents$ | async):searchByFields">
    <span *ngFor="let column of columns">
        {{datum[column.accessor]}}
    </span>
</p>