@import "../../colors.scss";

.search-container {
    position: relative;
    height: 44px;
    width: 480px;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 8px;
    overflow: hidden;

    & > input[type="text"] {
        /* Normalize */
        width: 100%;
        appearance: none;
        border: none;
        height: 100%;

        &:focus {
            outline: none;
        }

        font-size: 16px;
        height: 100%;
        color: $grey-7;
        padding: 10px 16px;

        &::placeholder {
            font-weight: 400;
            color: $grey-2;
        }
    }

    & > .search-icon,
    & > .clear-btn {
        position: absolute;
        right: 12px;
        opacity: 0.2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & > .clear-btn {
        cursor: pointer;
        &:hover {
            opacity: 0.4;
        }
    }

    &:hover {
        & > .search-icon,
        & > .clear-btn {
            opacity: 0.3;
        }
    }
}

.cdk-drag-placeholder {
    opacity: 0.3;
    pointer-events: none;
    border: 1px solid $hot-orange;
}
.cdk-drag-preview {
    // TODO: convert to mixin
    display: grid;
    border-radius: 8px;
    grid-template-columns: 40px repeat(auto-fit, minmax(120px, 1fr));
    box-shadow: 1px 1px 14px 0px rgba(0, 0, 0, 0.12), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    height: 36px;
    & td {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        background: white;
        font-size: 14px;
        font-weight: 500;
        color: $grey-7;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 8px;
    }

    & td:first-child {
        border-radius: 8px 0 0 8px;
        padding-left: 16px;
    }
    & td:last-child {
        margin-right: 0;
        border-radius: 0 8px 8px 0;
        padding-right: 16px;
    }
}

.table-virtual-scroll-viewport {
    height: 600px;
    width: 100%;
}

.cdk-drag-handle {
    cursor: move;
    svg {
        color: $grey-2;
    }
    &:hover {
        svg {
            color: $grey-3;
        }
    }
}

table.table {
    table-layout: fixed;
    width: 100%;
    position: relative;
    border-collapse: separate;
    border-spacing: 0 4px;

    thead.table-header {
        th {
            .header-cell-content {
                font-size: 14px;
                color: $grey-5;
                display: flex;
                align-items: center;
                padding-bottom: 8px;
            }

            button.sort-toggle {
                margin-left: 6px;
                cursor: pointer;
                display: inline-flex;
                width: 10px;
                height: 24px;
                border-radius: 50px;
                border: hidden;
                background: $grey-15;
                -webkit-appearance: none;
                -moz-appearance: none;
            }
            button.sort-toggle.sort-asc {
                background: linear-gradient(180deg, $hot-orange 0%, $hot-orange 50%, $grey-15 50%);
            }
            button.sort-toggle.sort-desc {
                background: linear-gradient(0deg, $hot-orange 0%, $hot-orange 50%, $grey-15 50%);
            }
        }
        & th:first-child {
            padding-left: 16px;
            width: 36px;
        }
    }

    tr.table-row {
        margin: 12px 0;
        transition: transform 200ms, box-shadow 200ms;
        transition-timing-function: ease-out;
        box-shadow: none;
        transform-origin: center;
        border-radius: 8px;

        &:hover {
            box-shadow: 1px 1px 14px 0px rgba(0, 0, 0, 0.12), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
            transform: translate3d(-1px, -1px, 0);
        }

        & td {
            height: 36px;
            background: white;
            font-size: 14px;
            font-weight: 500;
            color: $grey-7;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-right: 8px;
        }

        & td:first-child {
            border-radius: 8px 0 0 8px;
            padding-left: 16px;
        }
        & td:last-child {
            margin-right: 0;
            border-radius: 0 8px 8px 0;
            padding-right: 16px;
        }
    }
}

:host {
    h1.table-title {
        margin: 0 12px 48px 12px;
        font-size: 40px;
        font-weight: 400;
        line-height: 48px;
        color: $grey-3;
    }

    display: flex;
    border: 1px solid black;
    flex-direction: column;
    max-width: 700px;
    width: 100%;

    table {
        padding: 0 12px;
    }

    .search-container {
        margin-left: 12px;
        margin-bottom: 48px;
    }
}
