<div class="table-container">
    <h1 class="table-title">{{ title }}</h1>

    <div class="search-container">
        <input type="text" placeholder="Search" isSearch (onClear)="clearSearch()" [ngModel]="searchString$ | async"
            (ngModelChange)="search($event)" />
    </div>
    <table class="table" *ngIf="sortConfig$ | async as sortConfig">
        <thead>
            <th *ngFor="let column of columns">
                <div class="header-cell-content">
                    {{ column.name }}
                    <button class="sort-toggle" [ngClass]="{
              'sort-asc':
                sortConfig.columnAccessor === column.accessor &&
                sortConfig.sortDirection === 'ASC',
              'sort-desc':
                sortConfig.columnAccessor === column.accessor &&
                sortConfig.sortDirection === 'DESC'
            }" (click)="toggleSort(column.accessor, sortConfig)"></button>
                </div>
            </th>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="drop($event)">
            <div class="cdk-drag-placeholder" *cdkDragPlaceholder></div>
            <tr cdkDrag *ngFor="
          let datum of data
            | sort: sortConfig
            | search: (searchString$ | async):searchByFields
        ">
                <td *ngFor="let column of columns">
                    {{ datum[column.accessor] }}
                </td>
            </tr>
        </tbody>
    </table>
</div>