@import "../../colors.scss";

.toast {
    position: fixed;
    bottom: 16px;
    left: 50vw;
    transform: translate(-50%);

    padding: 8px 16px;
    border-radius: 8px;

    font-size: 13px;
    font-weight: 500;

    background: $grey-9;
    color: white;
    box-shadow: 1px 1px 16px rgba($color: #000000, $alpha: 0.2);

    & button {
        height: 30px;
        padding: 0 12px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        background: transparent;
        border-radius: 8px;
        border: hidden;
        color: white;

        margin-left: 12px;

        &:hover,
        &:focus {
            background: rgba($color: $hot-orange, $alpha: 0.1);
        }
    }
}
